<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811798913787-14dptn8hsiv1oh8tevc4kjvn22iud58s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811798913787-14dptn8hsiv1oh8tevc4kjvn22iud58s</string>
	<key>API_KEY</key>
	<string>AIzaSyAOg9MGatbXvUbohq1SrbhB9B1hTMLj0os</string>
	<key>GCM_SENDER_ID</key>
	<string>811798913787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.yuyaharada.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-509f9</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-509f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811798913787:ios:bd320590af7b170b87865e</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-509f9.firebaseio.com</string>
</dict>
</plist>